DATABASE_URL=mysql+pymysql://usuario:senha@localhost:3306/clubbar_dev

MYSQL_HOST=${{MySQL.MYSQLHOST}}
MYSQL_PORT=${{MySQL.MYSQLPORT}}
MYSQL_USER=${{MySQL.MYSQLUSER}}
MYSQL_PASSWORD=${{MySQL.MYSQLPASSWORD}}
MYSQL_DB=${{MySQL.MYSQLDATABASE}}

JWT_SECRET=troque_esta_chave_por_uma_bem_forte
JWT_EXPIRES_MIN=10080

SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=seu_usuario_smtp
SMTP_PASSWORD=sua_senha_smtp
SMTP_FROM=ClubBar <suporte@clubbar.com.br>
SMTP_USE_TLS=true

SITE_URL=https://clubbar.com.br
APP_URL=https://app.clubbar.com.br
ADMIN_URL=https://admin.clubbar.com.br
API_URL=https://api.clubbar.com.br

APP_BASE_URL=https://app.clubbar.com.br

ASAAS_API_KEY=sua_chave_asaas
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_WEBHOOK_TOKEN=um_token_longo_configurado_tambem_no_webhook_asaas

BREVO_API_KEY=sua_chave_brevo
BREVO_FROM_EMAIL=suporte@clubbar.com.br
BREVO_FROM_NAME=Clubbar
